# Map Function

map() is a built-in Python function that takes in two or more arguments: a function and one or more iterables, in the form:

    map(function, iterable, ...)
    
map() returns an *iterator* - that is, map() returns a special object that yields one result at a time as needed.

In [1]:
def fahrenite(celcius):
    return (9/5)*celcius + 32

temps = [0, 22.5, 40, 100]

In [4]:
F_temps = map(fahrenite, temps)

print(list(F_temps))

[32.0, 72.5, 104.0, 212.0]

In [23]:
(F_temps)

In [22]:
list(map(lambda x: (9/5)*x + 32, temps))

[32.0, 72.5, 104.0, 212.0]

In [33]:
for item in map(lambda x: (9/5)*x + 32, temps):
    print(item)

32.0
72.5
104.0
212.0

### Map() with multiple iterables

In [46]:
x = [1,2,3,4]
y = [5,6,7,8]
z = [9,10,11,12]

#a = 1
#b = 5

'''
def add(x,y):
    add = x + y
    return add

list(map(add, x, y))
'''

list (map(lambda m,n: m+n, x,y))

[6, 8, 10, 12]

In [47]:
list (map(lambda m,n,o: m+n+o, x,y,z))

[15, 18, 21, 24]

# Reduce Function

If seq = [ s1, s2, s3, ... , sn ], calling reduce(function, sequence) works like this:

* At first the first two elements of seq will be applied to function, i.e. func(s1,s2)
* The list on which reduce() works looks now like this: [ function(s1, s2), s3, ... , sn ]
* In the next step the function will be applied on the previous result and the third element of the list, i.e. function(function(s1, s2),s3)
* The list looks like this now: [ function(function(s1, s2),s3), ... , sn ]
* It continues like this until just one element is left and return this element as the result of reduce()

In [3]:
from functools import reduce

lst = [2,3,5,6]
reduce(lambda x,y: x+y, lst)

16

In [5]:
max_find = lambda a,b: a if (a > b) else b

In [6]:
reduce(max_find, lst)

6

SyntaxError: 'return' outside function (<ipython-input-51-f3c6ac89d102>, line 5)

# Filter Function

The function filter(function, list) offers a convenient way to filter out all the elements of an iterable, for which the function returns True.

In [53]:
lst = [1,2,3,4,5,6,7,8,9]

list(filter(lambda x: x > 6, lst))

[7, 8, 9]

In [55]:
lst = range(21)

list(filter(lambda x: x%2 == 0,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Zip Function

* zip() makes an iterator that aggregates elements from each of the iterables.
* Returns an iterator of tuples
* With a single iterable argument, it returns an iterator of 1-tuples. With no arguments, it returns an empty iterator.

In [1]:
x = "Ibrahim"
y = "Rupawala"

list(zip(x,y))

[('I', 'R'),
 ('b', 'u'),
 ('r', 'p'),
 ('a', 'a'),
 ('h', 'w'),
 ('i', 'a'),
 ('m', 'l')]

In [2]:
# zip is defined by the shortest iterable length.

x = [1,2,3]
y = [4,5,6,7,8]

list(zip(x,y))

[(1, 4), (2, 5), (3, 6)]

In [6]:
d1 = {"a":1, "b":2}
d2 = {"c":4, "d":5}

list(zip(d1, d2))

[('a', 'c'), ('b', 'd')]

In [7]:
list(zip(d1, d2.values()))

[('a', 4), ('b', 5)]

Function to switch the keys and values of the two dictionaries

In [8]:
d1 = {"a":1, "b":2}
d2 = {"c":4, "d":5}

In [10]:
dfinal = list(zip(d1, d2.values()))

In [11]:
dict(dfinal)

{'a': 4, 'b': 5}

In [13]:
d1 = {"a":1, "b":2}
d2 = {"c":4, "d":5}

d1_s = dict(zip(d1, d2.values()))
d2_s = dict(zip(d2, d1.values()))

print(d1_s)
print(d2_s)

{'a': 4, 'b': 5}
{'c': 1, 'd': 2}

In [14]:
def switcharoo(d1,d2):
    dout = {}
    
    for d1key,d2val in zip(d1,d2.values()):
        dout[d1key] = d2val
    
    return dout

In [15]:
switcharoo(d1,d2)

{'a': 4, 'b': 5}

In [16]:
d1_s['a']

4

# Enumerate Function()

* Enumerate allows you to keep a count as you iterate through an object. 

* It does this by returning a tuple in the form (count,element).

In [20]:
lst = ['a', 'b', 'c']

for number, item in enumerate(lst):
    print(f"index = {number} for item {item}")

index = 0 for item a
index = 1 for item b
index = 2 for item c

In [21]:
for count,item in enumerate(lst):
    if count >= 2:
        break
    else:
        print(item)

a
b

enumerate() takes an optional "start" argument to override the default value of zero:

In [24]:
months = ['march', 'april', 'may', 'june']

list(enumerate(months, start = 3))

[(3, 'march'), (4, 'april'), (5, 'may'), (6, 'june')]