# 1.) Advanced Numbers



1. Hexadecimal Number
2. Binary Number
3. Exponentails
4. Absolute and round methods

## Hexadecimal

Using the function <code>hex()</code> you can convert numbers into a [hexadecimal](https://en.wikipedia.org/wiki/Hexadecimal) format:

In [1]:
hex(246)

'0xf6'

In [2]:
hex(512)

'0x200'

## Binary 
Using the function <code>bin()</code> you can convert numbers into their [binary](https://en.wikipedia.org/wiki/Binary_number) format.

In [3]:
bin(128)

'0b10000000'

In [4]:
bin(512)

'0b1000000000'

## Exponentials
The function <code>pow()</code> takes two arguments, equivalent to ```x^y```.  With three arguments it is equivalent to ```(x^y)%z```, but may be more efficient for long integers.

In [6]:
2 ** 4

16

In [7]:
pow(2,4)

16

In [8]:
pow(2,4,3)

1

## Absolute Value
The function <code>abs()</code> returns the absolute value of a number. The argument may be an integer or a floating point number. If the argument is a complex number, its magnitude is returned.

In [9]:
abs(-3)

3

In [10]:
abs(3.14)

3.14

In [11]:
round(3)

3

In [12]:
round (3.9)

4

In [13]:
round(3.141592, 2)

3.14

# 2.) Advanced Strings

Methods:

1. Changing Case - capitalize(), upper(), lower()
2. Location and Counting - count(), find()
3. Formatting - centre(), expandtabs()
4. ischeck() methods - isalpha(), isalnum(), islower(), isspace(), istitle(), isupper(), endswith()
5. Built-in Reg. Expressions - split(), partition()

In [16]:
s = "hello world"

## Changing case
We can use methods to capitalize the first word of a string, or change the case of the entire string.

In [17]:
# Capitalize first word in string
s.capitalize()

'Hello world'

In [18]:
s.upper()

'HELLO WORLD'

In [19]:
s

'hello world'

In [20]:
s.lower()

'hello world'

In [21]:
s

'hello world'

Remember, strings are immutable. None of the above methods change the string in place, they only return modified copies of the original string.

In [22]:
s[0]

'h'

In [23]:
s[0] = "k"

TypeError: 'str' object does not support item assignment

In [24]:
s = s.upper()
s

'HELLO WORLD'

In [25]:
s = s.lower()
s

'hello world'

## Location and Counting

In [27]:
s.count('o') # returns the number of occurrences, without overlap

2

In [28]:
s.find('o') # returns the starting index position of the first occurence

4

## Formatting
The <code>center()</code> method allows you to place your string 'centered' between a provided string with a certain length. Personally, I've never actually used this in code as it seems pretty esoteric...

In [29]:
s.center(20,'z')

'zzzzhello worldzzzzz'

The <code>expandtabs()</code> method will expand tab notations <code>\t</code> into spaces:

In [30]:
'hello\thi'.expandtabs()

'hello   hi'

In [32]:
print ('hello\thi')

hello	hi

## is check methods
These various methods below check if the string is some case. Let's explore them:

In [33]:
s = 'hello'

<code>isalnum()</code> will return True if all characters in **s** are alphanumeric

In [34]:
s.isalnum()

True

<code>isalpha()</code> will return True if all characters in **s** are alphabetic

In [35]:
s.isalpha()

True

<code>islower()</code> will return True if all cased characters in **s** are lowercase and there is
at least one cased character in **s**, False otherwise.

In [37]:
s.islower()

True

<code>isspace()</code> will return True if all characters in **s** are whitespace.

In [39]:
s.isspace()

False

<code>istitle()</code> will return True if **s** is a title cased string and there is at least one character in **s**, i.e. uppercase characters may only follow uncased characters and lowercase characters only cased ones. It returns False otherwise.

In [41]:
s.istitle()

False

<code>isupper()</code> will return True if all cased characters in **s** are uppercase and there is
at least one cased character in **s**, False otherwise.

In [42]:
s.isupper()

False

Another method is <code>endswith()</code> which is essentially the same as a boolean check on <code>s[-1]</code>

In [45]:
s.endswith('o')

True

In [47]:
s[-1] == 'd'

False

## Built-in Reg. Expressions
Strings have some built-in methods that can resemble regular expression operations.
We can use <code>split()</code> to split the string at a certain element and return a list of the results.
We can use <code>partition()</code> to return a tuple that includes the first occurrence of the separator sandwiched between the first half and the end half.

In [49]:
s.split('e')

['h', 'llo']

In [50]:
s.partition('l')

('he', 'l', 'lo')

# 3.) Advanced Sets
In this lecture we will learn about the various methods for sets that you may not have seen yet. We'll go over the basic ones you already know and then dive a little deeper.

    1) add()
    2) clear()
    3) copy()
    4) set1.difference(set2) & set1.difference_update(set2)
    5) discard() 
    6) s1.intersection(s2) & s1.intersection_update(s2)
    7) is methods - isdisjoint(), issubset(), issuperset()
    8) symmetric_difference() and symmetric_difference_update()
    9) union()
    10) update()

In [2]:
s = set()

# add
add elements to a set. Remember, a set won't duplicate elements; it will only present them once (that's why it's called a set!)

In [3]:
s.add(1)

In [4]:
s.add(2)

In [5]:
s

{1, 2}

## clear
removes all elements from the set

In [6]:
s.clear()

In [7]:
s

set()

## copy
returns a copy of the set. Note it is a copy, so changes to the original don't effect the copy.

In [28]:
s = {1,2,3}
sc = s.copy()

In [29]:
sc

{1, 2, 3}

In [30]:
s

{1, 2, 3}

In [31]:
s.add(4)

In [32]:
s

{1, 2, 3, 4}

In [33]:
sc

{1, 2, 3}

## difference
The syntax is:

    set1.difference(set2)    
    
the method returns set1 after removing elements found in set2

In [34]:
s.difference(sc)

{4}

**Notice that difference returns elements in set1 that are not in set2 and not the actual difference**

For example

In [35]:
set1 = {2,3,1,5,6,8}
set2 = {3,1,7,5,6,8}

set1.difference(set2) # difference expected is {2,7} which is not the case

{2}

In [36]:
set1 = {2,3,1,5,6,8}
set2 = {3,1,7,5,6,8}

set2.difference(set1) # difference expected is {2,7} which is not the case

{7}

## difference_update
difference_update syntax is:

    set1.difference_update(set2)
the method returns set1 after removing elements found in set2 and updates the first set with the result

In [37]:
s1 = {1,2,3}

In [38]:
s2 = {1,4,5}

In [39]:
s1.difference_update(s2)

In [18]:
s1

{2, 3}

## discard
Removes an element from a set if it is a member. If the element is not a member, do nothing.

In [19]:
s

{1, 2, 3, 4}

In [20]:
s.discard(2)

In [21]:
s

{1, 3, 4}

In [22]:
s.discard(12)

In [23]:
s

{1, 3, 4}

## intersection and intersection_update
Returns the intersection of two or more sets as a new set.(i.e. elements that are common to all of the sets.)

In [27]:
s1 = {1,2,3}

In [28]:
s2 = {1,2,4}

In [29]:
s1.intersection(s2)

{1, 2}

In [30]:
s1

{1, 2, 3}

In [31]:
s1.intersection_update(s2)

In [33]:
s1 # intersection_update makes the first set equal to intesection update

{1, 2}

## isdisjoint
This method will return True if two sets have a null intersection.`

In [18]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [54]:
s1.isdisjoint(s2)

False

In [55]:
s2.isdisjoint(s3)

True

## issubset
This method reports whether another set contains this set.

In [56]:
s1

{1, 2}

In [57]:
s2

{1, 2, 4}

In [58]:
s1.issubset(s2)

True

## issuperset
This method will report whether this set contains another set.

In [59]:
s2.issuperset(s1)

True

In [60]:
s1.issuperset(s2)

False

## symmetric_difference and symmetric_update
Return the symmetric difference of two sets as a new set.(i.e. all elements that are in exactly one of the sets.)

In [40]:
s1 = {1,2,5}
s2 = {1,2,4}
s1

{1, 2, 5}

In [41]:
s2

{1, 2, 4}

In [42]:
s1.symmetric_difference(s2)

{4, 5}

In [43]:
s2.symmetric_difference(s1)

{4, 5}

In [44]:
s1

{1, 2, 5}

In [45]:
s1 = {1,2,5}
s2 = {1,2,4}
s1.symmetric_difference_update(s2)

In [46]:
s1

{4, 5}

## union
Returns the union of two sets (i.e. all elements that are in either set.)

In [64]:
s1.union(s2)

{1, 2, 4}

In [65]:
s1

{1, 2}

## update
Update a set with the union of itself and others.

In [47]:
s1.update(s2)

In [48]:
s1

{1, 2, 4, 5}

# 4.) Advanced Dictionaries
Unlike some of the other Data Structures we've worked with, most of the really useful methods available to us in Dictionaries have already been explored throughout this course. Here we will touch on just a few more for good measure:

## Dictionary Comprehensions

Just like List Comprehensions, Dictionary Data Types also support their own version of comprehension for quick creation. It is not as commonly used as List Comprehensions, but the syntax is:

In [1]:
d = {'k1':1, 'k2':2}

In [4]:
dict = {x:x**2 for x in range(10)}

In [5]:
dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [15]:
# How to assign keys that are not based on values

In [23]:
{k:v**2 for k,v in zip(['a', 'b', 'c', 'd'], range(4))}

{'a': 0, 'b': 1, 'c': 4, 'd': 9}

In [24]:
z = zip(['a', 'b', 'c', 'd'], range(4))

In [25]:
list(z)

[('a', 0), ('b', 1), ('c', 2), ('d', 3)]

## Iteration over keys, values, and items
Dictionaries can be iterated over using the keys(), values() and items() methods. For example:

In [30]:
d = {'k1':1,'k2':2}

In [32]:
for k in d.items():
    print (k)

('k1', 1)
('k2', 2)

In [33]:
for k in d.values():
    print (k)

1
2

In [34]:
for k in d.keys():
    print (k)

k1
k2

# Viewing keys, values and items
By themselves the keys(), values() and items() methods return a dictionary *view object*. This is not a separate list of items. Instead, the view is always tied to the original dictionary.

In [36]:
key_view = d.keys()

key_view

dict_keys(['k1', 'k2'])

In [38]:
d['k3'] = 3

d

{'k1': 1, 'k2': 2, 'k3': 3}

In [39]:
key_view

dict_keys(['k1', 'k2', 'k3'])

# 5.) Advanced Lists

In this series of lectures we will be diving a little deeper into all the methods available in a list object. These aren't officially "advanced" features, just methods that you wouldn't typically encounter without some additional exploring. It's pretty likely that you've already encountered some of these yourself!

    1) append()
    2) count()
    3) extend() - V.Imp
    4) insert()
    5) pop()
    6) remove()
    7) reverse()
    8) sort()
    9) MODIFIED LIST CANNOT BE ASSIGNED TO A NEW VARIABLE (because of inplace) - V.Imp

In [1]:
l = [1,2,3]

## append
You will definitely have used this method by now, which merely appends an element to the end of a list:

In [3]:
l.append(4)

In [4]:
l

[1, 2, 3, 4]

## count
We discussed this during the methods lectures, but here it is again. <code>count()</code> takes in an element and returns the number of times it occurs in your list:

In [5]:
l.count(10)

0

In [6]:
l.count(1)

1

## extend
Many times people find the difference between extend and append to be unclear. So note:

**append: appends whole object at end:**

In [7]:
x = [1,2,3]
x.append([4, 5])
print(x)

[1, 2, 3, [4, 5]]

**extend: extends list by appending elements from the iterable:**

In [8]:
x = [1,2,3]
x.extend([4,5])
print(x)

[1, 2, 3, 4, 5]

Note how <code>extend()</code> appends each element from the passed-in list. That is the key difference.

## index
<code>index()</code> will return the index of whatever element is placed as an argument. Note: If the the element is not in the list an error is raised.

In [10]:
l.index(2)

1

In [11]:
l.index(12)

ValueError: 12 is not in list

## insert()

<code>insert()</code> takes in two arguments: <code>insert(index,object)</code> This method places the object at the index supplied. For example:

In [12]:
list1 = [1,2,3,4]

In [13]:
list1

[1, 2, 3, 4]

In [14]:
list1.insert(2,"inserted")

In [15]:
list1

[1, 2, 'inserted', 3, 4]

## pop
You most likely have already seen <code>pop()</code>, which allows us to "pop" off the last element of a list. However, by passing an index position you can remove and return a specific element.

In [17]:
list1.pop(1)

2

In [18]:
list1

[1, 'inserted', 3, 4]

## remove
The <code>remove()</code> method removes the first occurrence of a value. For example:

In [20]:
list1 = [1, 'inserted', 3, 4, 'inserted']

In [21]:
list1

[1, 'inserted', 3, 4, 'inserted']

In [22]:
list1.remove('inserted')

In [23]:
list1

[1, 3, 4, 'inserted']

## reverse
As you might have guessed, <code>reverse()</code> reverses a list. 

**Note this occurs in place! Meaning it affects your list permanently.**

In [24]:
list2 = [1,2,3,4]

In [25]:
list2.reverse()

In [26]:
list2

[4, 3, 2, 1]

## sort
The <code>sort()</code> method will sort your list in place:

In [27]:
list2

[4, 3, 2, 1]

In [28]:
list2.sort()

In [29]:
list2

[1, 2, 3, 4]

The <code>sort()</code> method takes an optional argument for reverse sorting. 

**Note this is different than simply reversing the order of items.**

In [30]:
list2.sort(reverse=True)

In [31]:
list2

[4, 3, 2, 1]

## Be Careful With Assignment!

**A common programming mistake is to assume you can assign a modified list to a new variable.**

While this typically works with immutable objects like strings and tuples:

In [32]:
x = 'hello world'

In [33]:
y = x.upper()

In [34]:
print(y)

HELLO WORLD

This will NOT work the same way with lists:

In [35]:
x = [1,2,3]

In [36]:
y = x.append(4)

In [37]:
print(y)

None

### What happened?

In this case, since list methods like <code>append()</code> affect the list *in-place*, the operation returns a None value. This is what was passed to **y**. In order to retain **x** you would have to assign a *copy* of **x** to **y**, and then modify **y**:

In [38]:
x = [1,2,3]
y = x.copy()
y.append(4)

In [39]:
print(x)

[1, 2, 3]

In [40]:
print(y)

[1, 2, 3, 4]

# 6.) With Statement Context Managers

When you open a file using `f = open('test.txt')`, the file stays open until you specifically call `f.close()`.  Should an exception be raised while working with the file, it remains open. This can lead to vulnerabilities in your code, and inefficient use of resources.

A context manager handles the opening and closing of resources, and provides a built-in `try/finally` block should any exceptions occur.

The best way to demonstrate this is with an example.

### Standard `open()` procedure, with a raised exception:

In [49]:
p = open('oops.txt','a')
p.readlines()
p.close()

UnsupportedOperation: not readable

Let's see if we can modify our file:

In [51]:
p.write('add more text')

13

Ouch! I may not have wanted to do that until I traced the exception! Unfortunately, the exception prevented the last line, `p.close()` from running. Let's close the file manually:

In [52]:
p.close()

### Protect the file with `try/except/finally`

A common workaround is to insert a `try/except/finally` clause to close the file whenever an exception is raised:

In [53]:
p = open('oops.txt','a')
try:
    p.readlines()
except:
    print('An exception was raised!')
finally:
    p.close()

An exception was raised!

Let's see if we can modify our file this time:

In [54]:
p.write('add more text')

ValueError: I/O operation on closed file.

Excellent! Our file is safe.

### Save steps with `with`

Now we'll employ our context manager. The syntax follows `with [resource] as [target]: do something`

In [55]:
with open('oops.txt','a') as p:
    p.readlines()

UnsupportedOperation: not readable

Can we modify the file?

In [56]:
p.write('add more text')

ValueError: I/O operation on closed file.

Great! With just one line of code we've handled opening the file, enclosing our code in a `try/finally` block, and closing our file all at the same time.

Now you should have a basic understanding of context managers.